<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://expectfactory.com/">Air-Nlab</a>
    </div>    <div id="navbar" class="navbar-collapse collapse">

      <%= form_tag search_path, class: "navbar-form navbar-left", method: :get do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control" %>
        </div>
      <% end %>
                    <div class="flex-item header-search-bce-links navbar-collapse nav-collapse slide slide-menu-bce">
                <ul class="nav navbar-nav" role="navigation">
                    

                    
                        <li class="flags dropdown flags-columns">
                            
                            <a href="#" id="" class="dropdown-toggle" role="button" data-toggle="dropdown">
                                <span class="sr-only">United States</span><i class="flag-us" aria-hidden="true"></i>
                            </a>
                            <ul class="flags dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="switch-locale-drop">

                                <li class="sub-nav-back visible-xs-block visible-sm-block hidden-desktop">
                                    <a href="#" class="">
                                        <i class="icon-chevron-left" aria-hidden="true"></i> <strong>Back</strong>
                                    </a>
                                </li>
                                <li class="divider visible-xs-block visible-sm-block hidden-desktop"></li>

                                
                                    <li class="us">
                                        <a href="index.html" alt="United States">
                                            <i class="flag-us" aria-hidden="true"></i> United States
                                        </a>
                                    </li>
                                
                                    <li class="ar">
                                        <a href="http://www.homeaway.com.ar/" alt="Argentina">
                                            <i class="flag-ar" aria-hidden="true"></i> Argentina
                                        </a>
                                    </li>
                                
                                    <li class="au">
                                        <a href="https://www.homeaway.com.au/" alt="Australia">
                                            <i class="flag-au" aria-hidden="true"></i> Australia
                                        </a>
                                    </li>
                                
                                    <li class="br">
                                        <a href="https://www.aluguetemporada.com.br/" alt="Brasil">
                                            <i class="flag-br" aria-hidden="true"></i> Brasil
                                        </a>
                                    </li>
                                
                                    <li class="ca">
                                        <a href="https://www.homeaway.ca/" alt="Canada">
                                            <i class="flag-ca" aria-hidden="true"></i> Canada
                                        </a>
                                    </li>
                                
                                    <li class="co">
                                        <a href="http://www.homeaway.com.co/" alt="Colombia">
                                            <i class="flag-co" aria-hidden="true"></i> Colombia
                                        </a>
                                    </li>
                                
                                    <li class="dk">
                                        <a href="https://www.homeaway.dk/" alt="Danmark">
                                            <i class="flag-dk" aria-hidden="true"></i> Danmark
                                        </a>
                                    </li>
                                
                                    <li class="de">
                                        <a href="https://www.fewo-direkt.de/" alt="Deutschland">
                                            <i class="flag-de" aria-hidden="true"></i> Deutschland
                                        </a>
                                    </li>
                                
                                    <li class="es">
                                        <a href="https://www.homeaway.es/" alt="España">
                                            <i class="flag-es" aria-hidden="true"></i> España
                                        </a>
                                    </li>
                                
                                    <li class="fr">
                                        <a href="https://www.abritel.fr/" alt="France">
                                            <i class="flag-fr" aria-hidden="true"></i> France
                                        </a>
                                    </li>
                                
                                    <li class="in">
                                        <a href="http://www.homeaway.co.in/" alt="India">
                                            <i class="flag-in" aria-hidden="true"></i> India
                                        </a>
                                    </li>
                                
                                    <li class="id">
                                        <a href="http://www.homeaway.co.id/" alt="Indonesia">
                                            <i class="flag-id" aria-hidden="true"></i> Indonesia
                                        </a>
                                    </li>
                                
                                    <li class="it">
                                        <a href="https://www.homeaway.it/" alt="Italia">
                                            <i class="flag-it" aria-hidden="true"></i> Italia
                                        </a>
                                    </li>
                                
                                    <li class="my">
                                        <a href="http://www.homeaway.com.my/" alt="Malaysia">
                                            <i class="flag-my" aria-hidden="true"></i> Malaysia
                                        </a>
                                    </li>
                                
                                    <li class="mx">
                                        <a href="https://www.homeaway.com.mx/" alt="México">
                                            <i class="flag-mx" aria-hidden="true"></i> México
                                        </a>
                                    </li>
                                
                                    <li class="nl">
                                        <a href="https://www.homeaway.nl/" alt="Nederland">
                                            <i class="flag-nl" aria-hidden="true"></i> Nederland
                                        </a>
                                    </li>
                                
                                    <li class="nz">
                                        <a href="https://www.bookabach.co.nz/" alt="New Zealand">
                                            <i class="flag-nz" aria-hidden="true"></i> New Zealand
                                        </a>
                                    </li>
                                
                                    <li class="no">
                                        <a href="https://www.homeaway.no/" alt="Norge">
                                            <i class="flag-no" aria-hidden="true"></i> Norge
                                        </a>
                                    </li>
                                
                                    <li class="ph">
                                        <a href="http://www.homeaway.com.ph/" alt="Philippines">
                                            <i class="flag-ph" aria-hidden="true"></i> Philippines
                                        </a>
                                    </li>
                                
                                    <li class="pl">
                                        <a href="https://www.homeaway.pl/" alt="Polska">
                                            <i class="flag-pl" aria-hidden="true"></i> Polska
                                        </a>
                                    </li>
                                
                                    <li class="pt">
                                        <a href="https://www.homeaway.pt/" alt="Portugal">
                                            <i class="flag-pt" aria-hidden="true"></i> Portugal
                                        </a>
                                    </li>
                                
                                    <li class="sg">
                                        <a href="http://www.homeaway.com.sg/" alt="Singapore">
                                            <i class="flag-sg" aria-hidden="true"></i> Singapore
                                        </a>
                                    </li>
                                
                                    <li class="lk">
                                        <a href="http://www.homeaway.lk/" alt="Sri Lanka">
                                            <i class="flag-lk" aria-hidden="true"></i> Sri Lanka
                                        </a>
                                    </li>
                                
                                    <li class="fi">
                                        <a href="https://www.homeaway.fi/" alt="Suomi">
                                            <i class="flag-fi" aria-hidden="true"></i> Suomi
                                        </a>
                                    </li>
                                
                                    <li class="se">
                                        <a href="https://www.homeaway.se/" alt="Sverige">
                                            <i class="flag-se" aria-hidden="true"></i> Sverige
                                        </a>
                                    </li>
                                
                                    <li class="gb">
                                        <a href="https://www.homeaway.co.uk/" alt="United Kingdom">
                                            <i class="flag-gb" aria-hidden="true"></i> United Kingdom
                                        </a>
                                    </li>
                                
                                    <li class="vn">
                                        <a href="http://www.homeaway.com.vn/" alt="Việt Nam">
                                            <i class="flag-vn" aria-hidden="true"></i> Việt Nam
                                        </a>
                                    </li>
                                
                                    <li class="at">
                                        <a href="https://www.homeaway.at/" alt="Österreich">
                                            <i class="flag-at" aria-hidden="true"></i> Österreich
                                        </a>
                                    </li>
                                
                                    <li class="gr">
                                        <a href="https://www.homeaway.gr/" alt="Ελλάδα">
                                            <i class="flag-gr" aria-hidden="true"></i> Ελλάδα
                                        </a>
                                    </li>
                                
                                    <li class="ru">
                                        <a href="http://www.homeaway.ru/" alt="Россия">
                                            <i class="flag-ru" aria-hidden="true"></i> Россия
                                        </a>
                                    </li>
                                
                                    <li class="ae">
                                        <a href="http://www.homeaway.ae/" alt="الإمارات">
                                            <i class="flag-ae" aria-hidden="true"></i> الإمارات
                                        </a>
                                    </li>
                                
                                    <li class="th">
                                        <a href="http://www.homeaway.co.th/" alt="ประเทศไทย">
                                            <i class="flag-th" aria-hidden="true"></i> ประเทศไทย
                                        </a>
                                    </li>
                                
                                    <li class="cn">
                                        <a href="http://www.homeaway.com.cn/" alt="中国">
                                            <i class="flag-cn" aria-hidden="true"></i> 中国
                                        </a>
                                    </li>
                                
                                    <li class="tw">
                                        <a href="http://www.homeaway.tw/" alt="台灣">
                                            <i class="flag-tw" aria-hidden="true"></i> 台灣
                                        </a>
                                    </li>
                                
                                    <li class="jp">
                                        <a href="http://www.homeaway.jp/" alt="日本">
                                            <i class="flag-jp" aria-hidden="true"></i> 日本
                                        </a>
                                    </li>
                                
                                    <li class="hk">
                                        <a href="http://www.homeaway.hk/" alt="香港">
                                            <i class="flag-hk" aria-hidden="true"></i> 香港
                                        </a>
                                    </li>
                                
                                    <li class="kr">
                                        <a href="http://www.homeaway.co.kr/" alt="대한민국">
                                            <i class="flag-kr" aria-hidden="true"></i> 대한민국
                                        </a>
                                    </li>
                                
                            </ul>
	  
	  
      <ul class="nav navbar-nav navbar-right">
        <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
         US
         <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><span class="flag-icon flag-icon-br"></span>Brazil</a></li>
				    <li><a href="#"><span class="flag-icon flag-icon-br"></span>Brazil</a></li>
				    <li><a href="#"><span class="flag-icon flag-icon-br"></span>Brazil</a></li>
				    <li><a href="#"><span class="flag-icon flag-icon-br"></span>Brazil</a></li>
				    <li><a href="#"><span class="flag-icon flag-icon-br"></span>Brazil</a></li>
              
       </ul>
      </div>      
        <% if(!user_signed_in?) %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= image_tag avatar_url(current_user), class: "img-circle avatar-small" %>&nbsp;
              <%= current_user.fullname %> <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li><%= link_to "Your Listings", rooms_path %></li>
              <li><%= link_to "Your Reservations", your_reservations_path %></li>
              <li><%= link_to "Your Trips", your_trips_path %></li>
              <li><a href="#">Wish Lists</a></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Account Setting</a></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>

        <li>
          <%= link_to conversations_path do %>
            <i class="fa fa-envelope-o"></i> Messages
          <% end %>
        </li>
        <li>
          <%= link_to new_room_path do %>
            <i class="fa fa-home fa-lg"></i> Become a Host
          <% end %>
        </li>
      </ul>
      
    </div><!--/.nav-collapse -->
  </div>
</nav>
